.weather-app {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
}
.currentWeather {
  font-size: larger;
  margin: 20px;
}
#city {
  font-weight: bolder;
}
.time {
  font-size: small;
}
.col {
  margin: 30px;
  padding: 10px;
}
#city-input {
  margin: 0 30px 30px 0px;
}
